[submodule "e6692-2025spring-FinalProject-MUSE-lm3963"]
	path = e6692-2025spring-FinalProject-MUSE-lm3963
	url = https://github.com/eecse6692/e6692-2025spring-FinalProject-MUSE-lm3963.git
[submodule "MUSE"]
	path = MUSE
	url = https://github.com/liammchugh/MUSE.git
